body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;  
  background-color: #ddd;
  font-size: 20px;
}

@font-face {
  font-family: kenteken;
  src: url(kenteken.ttf);
}

h1 {
  display: inline-block;
  margin: 0;
  font-size: 30px;
  vertical-align: middle;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #333;
  padding: 8px;
  color: #eee;
  font-size: 22px;
  display:flex;
  align-items:center;
  z-index: 1;
}

#scores {
  margin-left: auto;
  margin-right: 5px;
}

#me {
  margin-left: 10px;
  font-family: "kenteken";  
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#content > * {
  width: 80%;
}

#main {
  margin: 30% auto 10% auto;
}

#message {
  margin: 0 auto 0 auto;
  height: 1em;
  text-align: center;
}

#myPlateNumberForm {
  text-align: center;
  margin: 30% auto 10% auto;
}

.plateNumber {
  font-size: 40px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  font-family: "kenteken";
  border: 3px solid #777;
  border-radius: 6px;
}

.plateNumber::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 28px;
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#feedback_buttons {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

#dislike {
  position: relative;
  top: 25px;
}

.thumb-up {
  color: #4CAF50;
}

.thumb-down {
  margin-left: 10px;
  color: #F44336;
}

#buttons {
  margin: 20% auto;
}

#buttons > * {
  margin: 0 auto;
  display: block;
  font-size: 30px;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: kenteken, arial;
  background: #fff;
}

#save {
  margin: 10% auto;
  display: block;
  font-size: 30px;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: kenteken, arial;
  background: #fff;  
}

#rankingTitle {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  background: #ddd;
  width: 100%;
}

.iconButton {
  border: 2px solid black;
  background: #fff;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  margin: 4px;
  vertical-align: middle;
  padding: 0;
}

.iconButton:hover {
  border-color: white;
  color: white;
  background: black;
}

#rankingTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 18px;
  margin-top: 90px;
}

#searchButton {
  right: 0;
  position: absolute;
}

#searchInput {
  right: 40px;
  position: absolute;
  top: 4px;
  background: inherit;
  width: 175px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

#searchInput > input {
  width: 160px;
  font-size: 19px;
}

#searchInput._hidden {
  width: 0;
}

#rankingTable td {
  padding: 2px 8px;
  text-align: right;
}

#rankingTable td:nth-child(3) {
  text-align: center;
}

.licensePlate {
  font-family: kenteken, arial;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
  background: white;
  border-radius: 4px;
  text-align: left;
  padding: 2px 5px;
  color: black;
  display: inline-block;
  text-transform: uppercase;
}

.licensePlate::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 19px;
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
}

.licensePlate > span:nth-child(2) {
  margin: 0 3px;
}

#rankingTable tr {
  background-color: #ffd;
  border-bottom: 1px dashed #ccc;
  color: #333;
}

/*#rankingTable tr:nth-child(even) {
  background: palegoldenrod;
}*/

#rankingTable tr:first-child {
  background: yellowgreen;
  font-weight: bold;
}

/*#rankingTable tr:first-child td:first-child:before {
  content: "\f006";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}*/

#rankingTable tr:last-child {
  background: indianred;
  font-weight: bold;
}

/*#rankingTable tr:last-child td:first-child:before {
  content: "\f119";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}*/

#rankingTable tr.self {
  background: lightblue;
  font-weight: bold;
}

#rankingTable tr.search {
  background: goldenrod;
  font-weight: bold;
}

#rankingTable .spacer {
  background: white !important;
  color: #999;
}

#rankingTable .spacer td {
  padding: 2px 11px 0 0;
}

#error {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: #ddd;
}

#errorIcon {
  position: absolute;
  left: 20px;
  top: 20px;
}

#errorClose {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#errorText {
  margin: 30% auto 0 auto;
  width: 80%
}

#errorMessage {
  margin: 10% auto;
  width: 80%
}

#loader {
  position: fixed;
  font-size: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

#selectCountry {
  position: fixed;
  top: 0px;
}

#changeCountry {
  font-size: 12px;
  margin-left: 3px;
}