* {
  user-select: none;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", "Trebuchet MS", sans-serif;
  background-color: #ddd;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: kenteken;
  src: url(kenteken.ttf);
}

h1 {
  display: inline-block;
  margin: 0;
  font-size: 30px;
  vertical-align: middle;
}

h2 {
  margin: 0 8px;
  font-size: 20px;
}

button {
  outline: none;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #333;
  padding: 8px;
  color: #eee;
  font-size: 22px;
  display:flex;
  align-items:center;
  z-index: 1;
  height: 32px;
}

#scores {
  margin-left: auto;
  margin-right: 7px;
}

#score {
  margin-right: 7px;
}

#me {
  margin-left: 6px;
  font-size: 20px;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  bottom: 0;
}

#message {
  text-align: center;
  width: 261px;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  display: none;
  box-sizing: border-box;
  z-index: 3;
  bottom: 4vh;
  position: fixed;
}

#setupTitle {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: 24px;
  position: relative;
  top: 4vh;
}

#plateNumber {
  text-align: center;
  position: relative;
  top: 6vh;
}

.plateNumber {
  font-size: 40px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  font-family: "kenteken";
  border: 3px solid #777;
  border-radius: 6px;
}

.plateNumber::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 28px;
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#feedback_buttons {
  font-size: 25px;
  text-align: center;
  position: relative;
  top: 7vh;
}

#feedback_buttons > button {
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 8px;
  margin: 10px 7px;
}

#feedback_buttons > button > img {
  width: 100px;
  height: 100px;
}

#like {
  background: yellowgreen;
}

#dislike {
  background: indianred;
}

#speechToggle {
  background: darkgrey;
}

#buttons {
  position: absolute;
  top: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}

#buttons > button {
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
  font-family: kenteken, arial;
  background: #fff;
  border: 3px solid black;
  margin: 4px 0;
}

#buttons > button:active {
  background: #333;
  border-color: #eee;
  color: #eee;
}

#save {
  display: block;
  font-size: 30px;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: kenteken, arial;
  background: #fff;
}

.screenTitle {
  background: #ddd;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.screenTitle h1 {
  transition: all 0.25s ease-in-out;
}

.screenTitle h1._hidden {
  opacity: 0;
}

.screenContent {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
}

.iconButton {
  border: 2px solid black;
  background: #fff;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  margin: 4px;
  vertical-align: middle;
  padding: 0;
}

.iconButton:active {
  background: #333;
  border-color: #eee;
  color: #eee;
}

#rankingTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 18px;
}

#searchButton {
  right: 0;
  position: absolute;
}

#searchContainer {
  right: 39px;
  position: absolute;
  top: 0;
  background: inherit;
  width: 231px;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  text-align: right;
  height: 42px;
}

#searchContainer > * {
  display: inline-block;
}

#searchContainer._hidden {
  width: 0;
}

#searchGo {
  margin: 0;
  vertical-align: top;
  position: absolute;
  left: 194px;
  top: 4px;
}

#searchInput {
  position: absolute;
  left: 0px;
  top: 4px;
}

#searchInput > input {
  width: 160px;
  font-size: 19px;
}

#rankingTable td {
  padding: 2px 8px;
  text-align: right;
}

#rankingTable td:nth-child(3) {
  text-align: center;
}

.licensePlate {
  font-family: kenteken, arial;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 1px 4px 0;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 0 0 1px #fff;
  position: relative;
}

.licensePlate._large {
  font-size: 24px;
  border-width: 3px;
  box-shadow: 0 0 0 2px #fff;
}

.licensePlate > span:first-child {
  font-size: 8px;
  margin-right: 2px;
}

.licensePlate._input > span:first-child {
  font-size: 10px;
  margin-right: 3px;
}

.licensePlate._input._large > span:first-child {
  font-size: 15px;
  margin-right: 5px;
}

.licensePlate > input {
  width: 160px;
  font-size: 21px;
  background: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: kenteken, arial;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.licensePlate._large > input {
  width: 220px;
  font-size: 27px;
  text-align: center;
}

.licensePlate > input::-webkit-input-placeholder { /* WebKit browsers */
  /*font-size: 19px;*/
  /*text-transform: none;*/
  /*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
  /*font-style: italic;*/
  /*font-weight: normal;*/
  color: #666;
}

.licensePlate._large > input::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 26px;
}

.licensePlate .clickBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 24px;
}

.licensePlate._large .clickBox {
  width: 30px;
}

/*.licensePlate > span:nth-child(2):before {
  content: '\2022';
  margin: 0 3px;
}*/

#rankingTable tr {
  background-color: #ffd;
  border-bottom: 1px dashed #ccc;
  color: #333;
}

/*#rankingTable tr:nth-child(even) {
  background: palegoldenrod;
}*/

#rankingTable tr:first-child {
  background: yellowgreen;
  font-weight: bold;
}

/*#rankingTable tr:first-child td:first-child:before {
  content: "\f006";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}*/

#rankingTable tr:last-child {
  background: indianred;
  font-weight: bold;
}

/*#rankingTable tr:last-child td:first-child:before {
  content: "\f119";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}*/

#rankingTable tr.self {
  background: lightblue;
  font-weight: bold;
}

#rankingTable tr.search {
  background: goldenrod;
  font-weight: bold;
}

#rankingTable .spacer {
  background: white !important;
  color: #999;
}

#rankingTable .spacer td {
  padding: 2px 11px 0 0;
}

#error {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: #ddd;
}

#errorIcon {
  position: absolute;
  left: 20px;
  top: 20px;
}

#errorClose {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#errorText {
  margin: 30% auto 0 auto;
  width: 80%;
  white-space: pre-wrap;
}

#errorMessage {
  margin: 10% auto;
  width: 80%
}

#loader {
  position: fixed;
  font-size: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

#selectCountry {
  position: fixed;
  top: 0;
}

#feedback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#feedback > div {
  position: absolute;
}

#feedback > div > img {
  width: 0;
  height: 0;
}

.hint {
  font-size: 14px;
  color: #888;
  padding: 0 8px;
}

#rankContainer {
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
  background: #fff;
  border: 3px solid black;
  margin: 4px auto;
  width: 261px;
  position: relative;
  top: 4vh;
  box-sizing: border-box;
}


#rankContainer:active {
  background: #333;
  border-color: #eee;
  color: #eee;
}

#rankContainer > i {
  margin-right: 8px;
}

#menu {
  position: fixed;
  right: 0;
  top: 48px;
  background: #333;
  color: #eee;
  z-index: 2;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  font-family: kenteken, arial;
  height: 0;
}

#menu > ul {
  margin: 0;
  padding: 0 0 2px;
  list-style: none;
}

#menu li {
  padding: 2px 10px;
  border-top: 1px solid #666;
}

#speechToggle._enabled {
  border-color: indianred;
  background: white;
}
